@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}


@mixin important-white-text {
    color: white;
    font-size: 25px;
    font-weight: bold;
    
}
@mixin bordered($color, $width) {
    border: $width solid $color;
}
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }
@mixin horizontal-list {
    @include reset-list;
  
    li {
      display: inline-block;
      margin: {
        left: -2px;
        right: 2em;
      }
    }
  }